AUTH_URL=https://partner-auth-dev.dockhealth.app
API_URL=https://partner-api-dev.dockhealth.app

API_KEY=
CLIENT_ID=
CLIENT_SECRET=
ORGANIZATION_IDENTIFIER=
USER_IDENTIFIER=

# Needed for workflow tests.
TASK_LIST_IDENTIFIER=
TASK_GROUP_IDENTIFIER=

CALLBACK_URL=
CALLBACK_LOCAL_PORT=3000
NGROK_AUTHTOKEN=

